:root {
  --gray-color: #C4D6B0;
  --blue-color: #477998;
  --black-color: #291F1E;
  --light-red-color: #F64740;
  --dark-red-color: #A3333D;
}

body {
  text-align: center;
}

h2 {
  margin: 50px;
}

/*********** NAVBAR ***********/
nav {
  position: absolute;
  top: 0;
  background-color: var(--black-color);
}

a {
  text-decoration: none;
}

.navbar-brand, #spotlight-link {
  color: var(--light-red-color);
}

.navbar-brand:hover, #spotlight-link:hover {
  color: var(--dark-red-color);
}

.navbar-collapse {
  text-align: start;
}

.nav-link, .nav-link:focus {
  color: var(--dark-red-color);
}

.nav-link:hover, .nav-link:active {
  color: var(--light-red-color);
}

.navbar-toggler[aria-expanded='false'] {
  border: 2px solid var(--light-red-color)
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*********** END OF NAVBAR ***********/

/*********** WELCOME SECTION ***********/

#welcome-section {
  height: 100vh;
  background-color: var(--blue-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

/*********** END OF WELCOME SECTION ***********/

/*********** PROJECTS SECTION ***********/

#projects {
  background-color: var(--gray-color);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spotlight-container, .spotlight-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotlight-container > div {
  font-size: 5rem;
  background-color: var(--black-color);
  border-radius: .25rem;
  width: 80vw;
  height: 66vh;
}

.projects-grid {
  margin: 50px; 
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-tile > div {
  display: inline;
}

.project-tile {
  font-size: 1.15rem;
}

.project-tile-container {
  padding: 0;
  width: 0;
  height: 0;
}

.project-tile-container > div {
  background-color: var(--black-color);
  border: 2px solid var(--light-red-color);
  border-radius: .25rem;
  color: var(--blue-color);
  

  margin: 30px 0;
  padding: 5rem 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.project-tile-container > div:hover {
  color: #0d6efd;
}

.project-tile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********** END OF PROJECTS SECTION ***********/

/*********** FOOTER SECTION ***********/

footer {
  background-color: var(--black-color);
  min-height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-message {
  color: white;
  font-size: 2.5rem;
  margin: 30px auto;

  display: flex;
  justify-content: center;
  align-items: center
}

.socials-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-social {
  font-size: 1.2rem;
  color: white;

  display: flex; 
  justify-content: center;
  align-items: center;
}

a > span.fa {
  border: none !important;
  display: flex;
  align-items: center;
  margin: 5px;
}

a.btn-social {
  margin: 20px;
  padding: 10px 80px;

}

/*********** END OF FOOTER SECTION ***********/

@media (max-width: 575px) {
  .project-tile {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .spotlight-container > div {
    font-size: 4rem;
  }
}

