:root {
  --gray-color: #C4D6B0;
  --blue-color: #477998;
  --black-color: #291F1E;
  --light-red-color: #F64740;
  --dark-red-color: #A3333D;
}

nav {
  position: absolute;
  top: 0;
  background-color: var(--black-color);
}

a {
  text-decoration: none;
}

.navbar-brand, #spotlight-link {
  color: var(--light-red-color);
}

.navbar-brand:hover, #spotlight-link:hover {
  color: var(--dark-red-color);
}

.nav-link, .nav-link:focus {
  color: var(--dark-red-color);
}

.nav-link:hover, .nav-link:active {
  color: var(--light-red-color);
}

.navbar-toggler[aria-expanded='false'] {
  border: 2px solid var(--light-red-color)
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#welcome-section {
  height: 100vh;
  background-color: var(--blue-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

#projects {
  background-color: var(--gray-color);
  padding: 25px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spotlight-container, .spotlight-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotlight-container > div {
  font-size: 5rem;
  background-color: var(--black-color);
  width: 60vw;
  height: 60vh;
}

footer {
  background-color: var(--black-color);
}

@media (max-width: 300px) {
  body {
    color: red;
  }
}